.custom {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border: none;
  background-color: white;
  border-radius: 4px;
}

.custom:hover {
  background-color: rgb(174, 173, 173);
  color: black;
  transition: ease-in 0.3s;
}

.icon {
  height: 15px;
  width: 15px;
}
